.page-header
  = link_to new_firend_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Firend
  %h1 Listing firends

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th
        %th
        %th

    %tbody
      - @firends.each do |firend|
        %tr
          %td= firend.name
          %td= firend.email
          %td= firend.phone
          %td= link_to 'Show', firend
          %td= link_to 'Edit', edit_firend_path(firend)
          %td= link_to 'Destroy', firend, :data => { confirm: 'Are you sure?' }, :method => :delete
