.page-header
  = link_to firends_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_firend_path(@firend), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show firend

%dl.dl-horizontal
  %dt Name:
  %dd= @firend.name
  %dt Email:
  %dd= @firend.email
  %dt Phone:
  %dd= @firend.phone
